body {
  font: 20px/1.5 serif;
  color: #333;
  background: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  overflow: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
#output {
  width: 500px;
  padding: 25px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
.words {
  width: 300px;
}
.words ul {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.words li {
  float: left;
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 30px;
}
.words h3 {
  clear: both;
  margin: 20px 0 0 0;
}